.App-main {
  padding: 1rem;
}

.App-header {
  background-color: #4f2119;
  box-shadow: 0 2px 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

.App-header a {
  color: white;
}

.App-title {
  color: #e18258;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.5em;
  line-height: 1em;
  text-decoration: none;
  text-shadow: 0 -2px 2px #000000;
  /* text-shadow:
   -2px -2px 0 hsl(6, 66%, 27%),  
    2px -2px 0 hsl(6, 66%, 27%),
    -2px 2px 0 hsl(6, 66%, 27%),
     2px 2px 0 hsl(6, 66%, 27%); */
}

@media only screen and (min-width: 768px) {
  .App-title {
    font-size: 2em;
  }
}

.App-nav__list {
  display: flex;
  list-style: none;
}

.App-nav__list li {
  margin-left: 1em;
}

.App-link {
  color: #61dafb;
}