.menu-button {
  color: #e18258;
  text-align: center;
}

.menu-button button {
  background-color: #4f2119;
  color: #f9fafa;
  border: 4px solid #e18258;
  padding: 0 4px;
}

.menu-button__line {
  width: 24px;
  height: 4px;
  background-color: #e18258;
  margin: 6px auto;
  transition: 0.4s;
}