.games-header {
  text-align: center;
}

.games h2 {
  text-align: center;
}

.games__no-games {
  text-align: center;
}

.games__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.game {
  background-color: #4f2119;
  border: 2px solid #19000b;
  box-shadow: 0 1px 4px hsla(9, 52%, 10%, 0.75);
  color: #f9fafa;
  margin: 1em 0;
  padding: 1em 1em 0;
  transition: 0.4s;
}

.game:active, .game:focus, .game:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.game strong {
  font-variant: small-caps;
  font-weight: 400;
}

.game__title {
  border-bottom: 2px solid #f9fafa;
  font-size: 2em;
  font-variant: small-caps;
  font-weight: 400;
  margin: 0 0 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
}

.game__details {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.game__details li {
  margin: 0.5em 0;
}

.game__tag-list {
  margin: 0;
  padding: 0;
}

.game__tag-list li {
  border: 1px solid #d19cb8;
  color: #d19cb8;
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em;
}

.game__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.game__buttons--hidden {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .games__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .game {
    display: grid;
    flex: 0 1 45%;
    grid-template-rows: auto 1fr auto;
  }
}

@media only screen  and (min-width : 1224px) {
  .games__wrapper {
    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "children children"
    "games search-form";
  }
  .games-header {
    grid-area: search-form;
  }

  .games-header > * {
    margin: 0 1em;
  }

  .games__games-list {
    grid-area: games;
  }

  .game {
    flex: 0 1 30%;
    margin: 1em;
    max-width: 25em;
  }
}