.landing-page {
  align-content: end;
  background: #e18258;
  background-image: url(./landing-page-background.jpg);
  background-size: cover;
  display: grid;
  grid-template-areas:
    'copy'
    'actions';
  height: 100vh;
  justify-content: center;
  left: 0;
  top: 0;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.landing-page__actions > * {
  display: block;
  margin: 1em auto;
}

.landing-page__copy {
  background-color: #d19cb8;
  box-shadow: 0 1px 4px hsla(9, 52%, 10%, 0.75);
  padding: 1em;
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .landing-page {
    align-content: center;
    grid-gap: 1em;
  }
  
  .landing-page > * {
    max-width: 60vw;
  }

  .landing-page__copy {
    padding: 2em;
  }
}

@media only screen  and (min-width : 1224px) {
  .landing-page {
    align-items: center;
    justify-content: space-evenly;
    grid-template-areas: 'copy actions';
    padding-top: 2em;
    text-align: left;
  }

  .landing-page > * {
    max-width: 40vw;
  }

  .landing-page__actions {
    text-align: center;
  }

  .landing-page__actions > * {
    display: inline-block;
    margin: 1em;
  }

  .landing-page__copy {
    padding: 4em;
  }
}