.table {
  border: 1px solid #19000b;
  border-collapse: collapse;
  text-align: left;
}

.table a {
  color: #19000b;
  display: inline-block;
  margin: 0.25rem;
}

.table td, .table th {
  padding: 0.5em;
  border-left: 1px solid #19000b;
  border-right: 1px solid #19000b;
}

.table th {
  background-color: #4f2119;
  color: #f9fafa;
}

.table tr:nth-child(even) {
  background-color: hsla(18, 70%, 61%, 0.5);
}

.table tr:active, .table tr:focus, .table tr:hover {
  background-color: #e18258;
}