.users {
  border: 1px solid #19000b;
  border-collapse: collapse;
  text-align: left;
}

.users td, .users th {
  padding: 0.5em;
  border-left: 1px solid #19000b;
  border-right: 1px solid #19000b;
}

.users td {
}

.users th {
  background-color: #4f2119;
  color: #f9fafa;
}

.users tr:nth-child(even) {
  background-color: hsla(18, 70%, 61%, 0.5);
}

.users tr:active, .users tr:focus, .users tr:hover {
  background-color: #e18258;
}