.form-input {
  margin-bottom: 1em;
}

.form-input label {
  display: block;
}

.form-input.inline label {
  display: inline-block;
  margin-right: 1em;
}

.form-input input {
  background-color: #f9fafa;
  border: 1px solid #4f2119;
  padding: 0.5em 1em;
}

.form-input input:focus {
  border-width: 2px;
  outline: 0;
}

.form-error, .form-warning {
  color: #CB3A2A;
  font-weight: 700;
}