.App-main {
  padding: 1rem;
}

.App-header {
  align-items: center;
  background-color: #4f2119;
  box-shadow: 0 1px 4px hsla(9, 52%, 10%, 1);
  color: #f9fafa;
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 100;
}

.App-header a {
  color: #d19cb8;
  text-decoration: none;
}

.App-title, a.App-title {
  color: #e18258;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.5em;
  line-height: 1em;
  max-width: 70vw;
  padding: 0.4em 0;
  text-decoration: none;
  text-shadow: 0 -1px 4px hsla(9, 52%, 10%, 1);
  /* text-shadow:
   -2px -2px 0 hsl(6, 66%, 27%),  
    2px -2px 0 hsl(6, 66%, 27%),
    -2px 2px 0 hsl(6, 66%, 27%),
     2px 2px 0 hsl(6, 66%, 27%); */
}

@media only screen and (min-width: 768px) {
  .App-header {
    padding: 1.5rem;
  }
  .App-title, a.App-title {
    font-size: 2em;
    padding: 0;
  }
}