.App-main {
  padding: 1rem;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

.App-header a {
  color: white;
}

.App-title {
  color: white;
  font-family: 'Luckiest Guy', cursive;
  text-decoration: none;
}

.App-nav__list {
  display: flex;
  list-style: none;
}

.App-nav__list li {
  margin-left: 1em;
}

.App-link {
  color: #61dafb;
}